html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Microsoft JhengHei", Arial, sans-serif;
}

body {
  background-color: white; 
  color: rgb(0,0,0);
  padding-bottom: 3000px;
}

a { 
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}