.upper-header{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;      
  width: 100%;           
  box-sizing: border-box; 
  background-color: white; 
  z-index: 999;
  margin: 0 auto;
  padding: 0 20px;
}

.upper-part{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.website-logo{
  width: 50px;
}

.website-name{
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.right-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-nav{
  height: 30px;
  padding-top: 10px;
}

.nav-list {
  display: flex;
  justify-content: left; 
  align-items: bottom;
}

.nav-item a {
  font-size: 14px;
  color: rgb(44, 53, 68);
  font-weight: 400;
  border-right: grey solid 1px;
  padding-right: 10px;
  padding-left: 10px;
  white-space: nowrap;
}

.nav-item a:hover {
  color: rgb(0, 123, 255);
}

.nav-item:last-child a {
  border-right: none;
}

.banner{
  background-color: rgb(17, 17, 80);
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 25px;
  color: white;
  z-index: 0;
  margin-top: 80px;
}