.job-grid {
    display: grid;      
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 768px) {
    .job-grid { grid-template-columns: 1fr; }
}

.job-card {
    background: white;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.company-logo {
    width: 80px;
    height: 50px;
    object-fit: contain;
    flex-shrink: 0;      /*照片不被壓縮*/
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.job-title {
    font-size: 16px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    line-height: 25px;
}

.company-name, .location {
    font-size: 14px;
    color: rgb(102, 102, 102);
}

.tags {
    margin-top: 10px;
    display: flex;
    gap: 8px;
}

.tag {
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    color: white;
}

.tag-green { background-color: rgb(40, 167, 69); }
.tag-pink { background-color: rgb(232, 123, 128); }